@inject SignInManager<IdentityUser> signInManager;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (signInManager.IsSignedIn(User))
    {
        <h1 style="margin-top:7rem;">Welcome, <span class="text-success">@User.Identity.Name</span></h1>
    }
    else
    {
        <h1 style="margin-top:7rem;">Welcome, <span class="text-success">User</span></h1>
        <p>Please Login to continue.</p>
    }

</div>
