@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top:7rem;">Welcome to Employee Management App</h1>
    <div style="margin-top:1rem;">
        <a class="btn btn-warning" style="margin:2rem;" asp-area="" asp-controller="Employee" asp-action="Index">Employee List</a>
        <a class="btn btn-warning" style="margin:2rem;" asp-area="" asp-controller="Department" asp-action="Index">Department List</a>
    </div>
</div>
