
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

<h3>Employee table is linked with records which you are trying to delete</h3>
<p>Delete all the employees in this department first and then delete this department.</p>
<a asp-controller="Department" asp-action="Index" class="btn btn-warning">Back to List</a>