<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a class="btn btn-warning" asp-area="" asp-controller="Admin" asp-action="ListRoles">Create Roles</a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-warning" asp-area="" asp-controller="Account" asp-action="ListUsers">Assign Roles</a>
        </li>

    </ul>
</div>