<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a class="btn btn-warning" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-warning" asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-warning" asp-area="" asp-controller="Admin" asp-action="ListRoles">Roles</a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-warning" asp-area="" asp-controller="Account" asp-action="ListUsers">Registered Users</a>
        </li>

    </ul>
</div>