@{
    ViewData["Title"] = "ResetPasswoed Confirmation";
}

<div class="text-center" style="margin-top:7rem;">
    <h1 class="display-4 text-success">Password reset was success!</h1>
    <a asp-action="Login" class="btn btn-success">Login</a>
</div>
